$font-stack: ariel, sans-serif;
$primary-color: #adedd1;
$border-radius: 1.5px solid #18965f;
$background: #0e2f3c;
$border: 2px solid red;

$BackgroundColor: #3e5266;
$fontcolor: #fbfdfd;
$button-color: #ef1105;
$icon: #416a79;

$hoverColor: blue;
